@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoUL.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoT.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoSB.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoH.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
