@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-svh font-apple;
  }
}

@layer components {
  .h1 {
    @apply text-2xl font-bold leading-[1.2] tracking-[-0.48px];
  }

  .h2 {
    @apply text-xl font-bold leading-[1.4] tracking-[-0.4px];
  }

  .h3 {
    @apply text-lg font-bold leading-[1.4] tracking-[-0.36px];
  }

  .h4 {
    @apply text-base font-semibold leading-[1.4] tracking-[-0.32px];
  }

  .b1 {
    @apply text-base font-medium leading-[1.4] tracking-[-0.32px];
  }

  .b2 {
    @apply text-base font-bold leading-[1.4] tracking-[-0.32px];
  }

  .b3 {
    @apply text-sm font-bold leading-[1.4] tracking-[-0.28px];
  }

  .b4 {
    @apply text-sm font-medium leading-[1.4] tracking-[-0.28px];
  }

  .b5 {
    @apply text-sm font-semibold leading-[1.4] tracking-[-0.28px];
  }

  .b6 {
    @apply text-xs font-medium leading-[1.4] tracking-[-0.24px];
  }

  .b7 {
    @apply text-[0.625rem] font-bold leading-[1.4] tracking-[-0.2px];
  }

  .b9 {
    @apply text-[0.625rem] font-medium leading-[1.4] tracking-[-0.2px];
  }

  .b10 {
    @apply text-xs font-normal leading-[1.2] tracking-[-0.24px];
  }

  .b11 {
    @apply text-lg font-medium leading-[1.4] tracking-[-0.36px];
  }

  .b12 {
    @apply text-sm font-normal leading-[1.4] tracking-[-0.28px];
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.clamp-with-more {
  @apply relative line-clamp-6 overflow-hidden; /* 6줄까지만 */
}

.clamp-with-more::after {
  content: '...더보기';
  @apply absolute bottom-0 right-0 cursor-pointer bg-white pl-1 text-black;
  display: none;
}

.clamp-with-more.show-more::after {
  display: inline; /* 넘칠 때만 보이게 */
}
